.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: Roboto;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	text-align: center;
	width: 323px;
	height: 95px;
}

.money {
	display: flex;
	flex-direction: row;
	justify-items: start;
}

.price {
	font-size: 38px;
	font-weight: 700;
	letter-spacing: normal;
}

.currency {
	width: 9px;
	height: 19px;
	margin: 5px 0 20px 4px;
	font-size: 16px;
	font-weight: normal;
	letter-spacing: normal;
}

.subtitle {
	font-size: 11px;
	font-weight: normal;
	letter-spacing: 1px;
}